@import url(../css/variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: rgb(255, 255, 255);
}
.encabezado_1{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.productos{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.productos li{
    list-style: none;
    background-color: rgba(0, 0, 0, 0.158);
    border-radius: 1rem;
    padding: 1rem;
}
.productos li a{
    color: black;
}
.cascos{
    width: 100%;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.349);
    display: grid;
    border-radius: 1rem;
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;
    overflow: scroll;
}
.padre_1, .padre_2, .padre_3, .padre_4, .padre_5, .padre_6, .padre_7, .padre_8, .padre_9{
    width: 100%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.137);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 1rem;
    padding: 1rem;
}
.fotos{
    width: 100%;
    height: 45vh;
    background-color: rgba(0, 0, 0, 0.055);
    display: grid;
    grid-template-columns: 20% 1fr;
    border-radius: 1rem;
    padding: 1rem;
    grid-gap: 0.3rem;
}
.fotos_izquierda{
    width: 100%;
    height: 40vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border-radius: 1rem;
    grid-gap: 0.3rem;
}
.casco_1{
    background-image: url(../storage/_1.jpg);
    object-fit: contain;
    border-radius: 0.5rem;
    width: 100%;
}
.casco_2{
    background-image: url(../storage/_2.jpg);
    object-fit: contain;
    border-radius: 0.5rem;

    width: 100%;
}
.casco_2{
    background-image: url(../storage/_2.jpg);
    object-fit: contain;  
    width: 100%;
    border-radius: 0.5rem;

}
.casco_3{
    background-image: url(../storage/_3.jpeg);
    object-fit: contain;  
    width: 100%;
    border-radius: 0.5rem;

}
.casco_4{
    background-image: url(../storage/_4.png);
    object-fit: contain;
    width: 100%;
    border-radius: 0.5rem;

}
.fotos_derecha{
    width: 100%;
    height: 40vh;
    display: grid;
    grid-template-rows: 1fr ;
    border-radius: 1rem;
    grid-gap: 1rem;
    border-radius: 0.5rem;

}
.casco_d{
    background-image: url(../storage/_5.jpg);
    object-fit: contain;
    width: 100%;
    border-radius: 1rem;
    border-radius: 0.5rem;

}
/* **********izquierda************ */
.descripcion{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.titulo{
    color: white;
}
.estrellitas{
    width: 100%;
    size:45px
}
.precio{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
}
.button{
    background-color: rgba(26, 25, 25, 0.267);
    border: none;
    width: 40%;
    padding: 1rem;
    border-radius: 1rem;
}
.button li{
    list-style: none
}
.button li a{
    color: azure;
    text-decoration: none
}
@import url(../css/variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: rgb(255, 255, 255);
}
.encabezado_1{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.productos{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.productos li{
    list-style: none;
    background-color: rgba(0, 0, 0, 0.158);
    border-radius: 1rem;
    padding: 1rem;
}
.productos li a{
    color: black;
}
.cascos{
    width: 100%;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.349);
    display: grid;
    border-radius: 1rem;
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;
    overflow: scroll;
}
.padre_1, .padre_2, .padre_3, .padre_4, .padre_5, .padre_6, .padre_7, .padre_8, .padre_9{
    width: 100%;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.137);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 1rem;
    padding: 1rem;
}
.fotos{
    width: 100%;
    height: 45vh;
    display: grid;
    grid-template-columns: 20% 1fr;
    border-radius: 1rem;
    padding: 1rem;
    grid-gap: 0.3rem;
}
.fotos_izquierda{
    width: 100%;
    height: 40vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border-radius: 1rem;
    grid-gap: 0.3rem;
}
.casco_1{
    background-image: url(../storage/_1.jpg);
    object-fit: contain;
    border-radius: 0.5rem;
    width: 100%;
}
.casco_2{
    background-image: url(../storage/_2.jpg);
    object-fit: contain;
    border-radius: 0.5rem;

    width: 100%;
}
.casco_2{
    background-image: url(../storage/_2.jpg);
    object-fit: contain;  
    width: 100%;
    border-radius: 0.5rem;

}
.casco_3{
    background-image: url(../storage/_3.jpeg);
    object-fit: contain;  
    width: 100%;
    border-radius: 0.5rem;

}
.casco_4{
    background-image: url(../storage/_4.png);
    object-fit: contain;
    width: 100%;
    border-radius: 0.5rem;

}
.fotos_derecha{
    width: 100%;
    height: 40vh;
    display: grid;
    grid-template-rows: 1fr ;
    border-radius: 1rem;
    grid-gap: 1rem;
    border-radius: 0.5rem;

}
.casco_d{
    background-image: url(../storage/_5.jpg);
    object-fit: contain;
    width: 100%;
    border-radius: 1rem;
    border-radius: 0.5rem;

}
/* **********izquierda************ */

/* apartado */
.cascos_1{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.349);
    display: grid;
    border-radius: 1rem;
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;
    overflow: scroll;
}
.padre_1_1{
    width: 50%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.137);
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 1rem;
    padding: 1rem;
}
.fotos_1{
    width: 100%;
    height: 65vh;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 1rem;
    padding: 1rem;
    grid-gap: 0.3rem;
}
.fotos_derecha_1{
    width: 100%;
    height: 60vh;
    display: grid;
    grid-template-rows: 1fr ;
    border-radius: 1rem;
    grid-gap: 1rem;
    border-radius: 0.5rem;

}
.precio_1{
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
}
.casco_d_1{
    background-image: url(../storage/_5.jpg);
    object-fit: contain;
    width: 100%;
    border-radius: 1rem;
    border-radius: 0.5rem;

}
.descripcion_1{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.titulo_1{
    color: white;
}
.estrellitas_1{
    width: 100%;
    size:45px
}
.precio_1{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
}